
/data
scripts/test_tafi.ipynb
/scripts/__pycache__
/results
scripts/abc_functions_25-02-2025.py
scripts/run_abc.sh
scripts/tafi.sif
scripts/tafi_singularity.def
scripts/TAFI_sims.py
scripts/TAFI_25_02_2025.py
scripts/testing2.ipynb
*.pyc
scripts/tafi_plot_surface.py
scripts/tafi_100runs.py
/scripts/previous
scripts/tafi_optim_lambda.py
scripts/testing2 (copy).ipynb
scripts/validate.py
scripts/sims.py
scripts/evaluate_sims.py
/downstream/dge_analysis/data
/downstream/survival_analysis/data
scripts/testing2 (another copy).ipynb
downstream/survival_analysis/zzz.ipynb
downstream/dge_analysis/.Rhistory
downstream/.Rhistory
.Rhistory
downstream/mobster_result.csv
downstream/prop.csv
downstream/simulationdata.Rdata
downstream/survival_analysis/survival_MC3.ipynb
downstream/survival_analysis/survival_HMF.ipynb
downstream/survival_analysis/survival_PCAWG.ipynb
downstream/survival_analysis/survival_HMF.ipynb
